Package: mydombox-display
Version: 1.0-0
Section: base
Priority: optional
Architecture: armhf
Depends: mydombox, chromium, x11-xserver-utils, unclutter
Maintainer: Mr PUCHEU <jfpucheu@gmail.com>
Description: Mydombox display permet d'avoir un homescreen mydombox sur sa tv via le port hdmi du raspberry.
Homepage: http://mydombox.com